<h1>Questions#ask</h1>
<p>Find me in app/views/questions/ask.html.erb</p>

<form action="/answer">
  <input type="text" name="question" placeholder="What's do you want to say?">
  <input type="submit">

</form>
